{% extends '::base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/apishow/css/bootstrap.css') }}" />
<link rel="stylesheet" href="{{ asset('bundles/apishow/admin/login.css') }}" />

{% endblock %}


{% block body %}

    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}

        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-md-offset-4">
                    <div class="account-wall">

                        <img class="profile-img" src="{{ asset('bundles/apishow/admin/logo.png') }}"
                            alt="">
                        <form class="form-signin"
                              action="{{ path('admin_login_check') }}" method="post">
                            
                            <input id="username" type="text" name="_username" value="{{ last_username }}"
                                   class="form-control" placeholder="Usuario" required autofocus>
                            <input id="password" type="password" name="_password"
                                   class="form-control" placeholder="Contraseña" required>
                            <button class="btn btn-md btn-primary btn-block" name="login" type="submit">
                                Entrar</button>
                        </form>
                  </div>
            </div>
        </div>
     </div>

    
{% endblock body %}
