body{
    font-family: 'Open Sans', sans-serif;
}
.buscar{
    margin-top: 20px;
    margin-left: 68px;
}

.novedades{
    margin-top: 20px;
}

.titulo{
    margin-left: 2px;
    color: #1FB867;
}

.profile-img
{
    width: 70px;
    height: 70px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}


