{% extends '::base.html.twig' %}

{% block title %}Editar{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/apishow/admin/adminpage/bootstrap.css') }}" />
<link rel="stylesheet" href="{{ asset('bundles/apishow/admin/adminpage/main.css') }}" />

{% endblock %}

{% block body -%}

    <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
               <a class="navbar-brand" href="{{ path('admin_logout') }}">Salir</a>
            </div>
   </div>

    <div class="container">
         <div class="row">
             <div class="col-lg-8 col-lg-offset-2 centered">
                 
                    <h1>Editar Usuario</h1>
                    
                     {{ form(edit_form) }}

                     {{ form(delete_form) }}

                <a href="{{ path('user') }}">Volver</a>

            </div>
        </div>
   </div> 

{% endblock %}
