{% extends '::base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/apishow/admin/adminpage/bootstrap.css') }}" />
<link rel="stylesheet" href="{{ asset('bundles/apishow/admin/adminpage/main.css') }}" />

{% endblock %}


{% block body -%}

<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <a class="navbar-brand" href="{{ path('admin_logout') }}">Salir</a>
    </div>

</div>


<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 centered">
            <h1>Usuarios</h1>

            <table class="table table-striped custab centered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Contraseña</th>
                        <th>Activo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
        {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td>{{ entity.username }}</td>
                        <td>{{ entity.password }}</td>
                        <td>{{ entity.isActive }}</td>
                        
                             
                                   <td ><a class='btn btn-info btn-xs' href="{{ path('user_show', { 'id': entity.id }) }}">Mostrar</a> 
                                    <a href="{{ path('user_edit', { 'id': entity.id }) }}" class="btn btn-danger btn-xs">Editar</a></td>
                                
                           
                                
                              
   
                    </tr>
        {% endfor %}
                </tbody>
            </table>

          
                <a href="{{ path('user_new') }}" class="centered">
                    Crear nuevo usuario
                </a>



        </div>
    </div>
</div>

 {% endblock %}
