{% extends '::base.html.twig' %}

{% block title %}Mostrar{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/apishow/admin/adminpage/bootstrap.css') }}" />
<link rel="stylesheet" href="{{ asset('bundles/apishow/admin/adminpage/main.css') }}" />

{% endblock %}

{% block body -%}

    <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
             <a class="navbar-brand" href="{{ path('admin_logout') }}">Salir</a>
          </div>
   </div>

   <div class="container">
        <div class="row">
             <div class="col-lg-8 col-lg-offset-2 centered">
                   <h1>Usuario</h1>
                   <table class="table table-striped custab centered">
                       <tbody>
                           <tr>
                           <th>Id</th>
                           <td>{{ entity.id }}</td>
                           </tr>
                           <tr>
                           <th>Nombre</th>
                           <td>{{ entity.username }}</td>
                           </tr>
                           <tr>
                           <th>Contraseña</th>
                           <td>{{ entity.password }}</td>
                           </tr>
                           <tr>
                           <th>Activo</th>
                           <td>{{ entity.isActive }}</td>
                           </tr>
                           <tr>
                           <th>Editar</th>
                           <td> <a href="{{ path('user_edit', { 'id': entity.id }) }}"
                                   class="btn btn-danger btn-xs">Editar</a></td>
                           </tr>
                           <tr>
                           <th>Borrar</th>
                           <td>{{ form(delete_form) }}</td>
                           </tr>
                           </tbody>
                           </table>
                   
                            <a href="{{ path('user') }}">Volver</a>
                  </div>
          </div>
    </div>

{% endblock %}
