{% extends 'MopaBootstrapBundle::base.html.twig' %}

{% block title %}Bienvenido{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/mopabootstrap/css/mopabootstrapbundle.css') }}" />


{% endblock %}

{% block body %}


Bienvenido Admin

{% endblock body %}