{% extends '::base.html.twig' %}

{% block title %}Bienvenido{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/apishow/api/bootstrap.css') }}" />
<link rel="stylesheet" href="{{ asset('bundles/apishow/api/style.css') }}" />

{% endblock %}
       
{% block body %}
 
<div class="navbar">
      <div class="navbar-inner">
        <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> 
            <a class="brand" href="{{ path('api_homepage') }}"><img class="profile-img" src="{{ asset('bundles/apishow/api/usuario.png') }}"></a>
          <ul class="nav nav-collapse pull-right">
                <li><a href="{{ path('api_homepage') }}" class="active">Novedades</a></li>
                <li><a href="{{ path('api_peliculas') }}">Peliculas</a></li>
                <li><a href="{{ path('api_series') }}">Series</a></li>
                <li><a href="{{ path('front_logout') }}">Cerrar Sesión</a></li>
          </ul>
        </div>
      </div>
</div>

<div class="container novedades ">
    <div class="row-fluid">
         <div class="span4">
             <div class="titulo">{{titulo0}}</div>
             <div><img src="{{imagen0}}"></div>
         </div>
         <div class="span4">
             <div class="titulo">{{titulo4}}</div>
             <div><img src="{{imagen4}}"></div>
         </div>
         <div class="span4"> 
             <div class="titulo">{{titulo2}}</div>
             <div><img src="{{imagen2}}"></div>
         </div>
    </div>
    
    <div class="row-fluid">
         <div class="span4">
             <div class="titulo">{{titulo3}}</div>
             <div><img src="{{imagen3}}"></div>
         </div>
         <div class="span4"><div class="titulo">{{titulo5}}</div>
         <div><img src="{{imagen5}}"></div> 
         </div>
         <div class="span4"> <div class="titulo">{{titulo6}}</div>
         <div><img src="{{imagen6}}"></div>
         </div>
    </div>

</div>       
            


{% endblock body %}
    
{% block javascripts %}
    <script src="{{ asset('bundles/apishow/js/jquery.js') }}"></script>
    <script src="{{ asset('bundles/apishow/js/bootstrap.js') }}"></script>

{% endblock %}

