{% extends '::base.html.twig' %}

{% block title %}Series{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/apishow/api/bootstrap.css') }}" />
<link rel="stylesheet" href="{{ asset('bundles/apishow/api/style.css') }}" />

{% endblock %}
       
{% block body %}
 
{% if accion == 0 %}

<div class="navbar">
      <div class="navbar-inner">
        <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
            <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> 
            </a> <a class="brand" href="{{ path('api_homepage') }}"><img class="profile-img" src="{{ asset('bundles/apishow/api/usuario.png') }}"></a>
          <ul class="nav nav-collapse pull-right">
            <li><a href="{{ path('api_homepage') }}" > Novedades </a></li>
            <li><a href="{{ path('api_peliculas') }}" > Peliculas</a></li>
            <li><a href="{{ path('api_series') }}" class="active">Series</a></li>
            <li><a href="{{ path('front_logout') }}">Cerrar Sesión</a></li>
          </ul>
        </div>
      </div>
</div>

<div class="container profile">
      <div class="span10">
        <div class="span10 buscar">
          <form action="{{ path('api_buscar_series') }}" method="POST" class="form-search">
                  <input   type="text" class="input-mini search-query" name="serie" >
          <input  type="submit" class="btn btn-success" name="buscador" value="Buscar">
          </form>
        </div>
       </div>  
</div>

{% else %}
<div class="navbar">
     <div class="navbar-inner">
        <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> 
                <a class="brand" href="{{ path('api_homepage') }}"><img class="profile-img" src="{{ asset('bundles/apishow/api/usuario.png') }}"></a>
                <ul class="nav nav-collapse pull-right">
                    <li><a href="{{ path('api_homepage') }}">Novedades </a></li>
                    <li><a href="{{ path('api_peliculas') }}">Peliculas</a></li>
                    <li><a href="{{ path('api_series') }}" class="active">Series</a></li>
                    <li><a href="{{ path('front_logout') }}">Cerrar Sesión</a></li>
                </ul> 
         </div>
      </div>
</div>
<div class="container">
    <div class="row buscar">
        <div class="span10">
              <form action="{{ path('api_buscar_series') }}" method="POST" class="form-search">
                <input type="text" class="search-query" name="serie">
                 <input  type="submit" name="buscador" class="btn btn-success" value="Buscar">
              </form>
         </div>
    </div>
        
    <div class="row titulo">
          <div class="span6">
              <h2>{{titulo}}</h2>
          </div>
     </div>    
        
     <div class="container-fluid">
          <div class="row-fluid">
                <div class="span3">
                     <img src="{{imagen}}">
                 </div>
                 <div class="span7">
                    {{descripcion}}
                  </div>
 
                <div class="span2">
                 <p> Puntuación: {{votos}}</p>
                </div>
                <div class="span2">
                  <p> Temporadas:  {{temporadas}} </p>
                 </div>
                <div class="span2">
                  <p> Creador:  {{creador}} </p>
                 </div>
          </div>
     </div>
      
</div>
       
      
{% endif %}
        
{% endblock body %}
      
{% block javascripts %}
    <script src="{{ asset('bundles/apishow/js/jquery.js') }}"></script>
    <script src="{{ asset('bundles/apishow/js/bootstrap.js') }}"></script>

{% endblock %}

